
<!-- Footer -->
<footer class="page-footer font-small bg-info pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">A propos du bon plan</h5>
          <p>Notre volonté est d’aller vers une entreprise plus responsable qui incarne l’intégrité et l’implication.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">information légales</h5>

            <ul class="list-unstyled">

              <li><a href="#!">Conditions générales d’utilisation</a></li>
                <li><a href="#!">Vie privée/cookies</a></li>
              
            
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Des questions</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Aide</a>
                <a href="#!">Nous contacter</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->